
html {
    background: #333;
    height: 100%;
}

body {
    padding: 0 20px;
    min-height: 100%;
    font-size: large;
    margin: 0 auto;
    max-width: 900px;
}

pre.src {
    font-size: large;
    padding: 0.5em;
}
